.send {
  width: 100vw;

  .send__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;

    .send__title {
      margin-bottom: $base * 10;

      h2 {
        font-weight: 400;
        font-size: $base * 13;
      }
    }

    .send__description {
      margin: 0 auto $base * 10;
      width: 80%;

      p {
        font-size: $base * 5;
        line-height: 25px;
      }
    }

    .send___form {
      margin-bottom: $base * 12.5;
    }

    .send__btns-group {
      display: flex;
      justify-content: space-around;

      .send__btn {
        font-size: $base * 4;
        color: $color-white;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  .form__label {
    margin-bottom: $base * 11;
    position: relative;
  }

  .form__input {
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
    height: 60px;
    font-size: $base * 5;
    text-align: center;

    &::placeholder {
      color: $color-grey;
    }

    &:focus {
      -webkit-box-shadow: 0 0 8px 7px rgba(46, 49, 51, 0.2);
      -moz-box-shadow: 0 0 8px 7px rgba(46, 49, 51, 0.2);
      box-shadow: 0 0 8px 7px rgba(46, 49, 51, 0.2);
    }
  }

  .form__button {
    border-radius: 30px;
    height: 70px;
    font-size: $base * 6;
    color: $color-grey;
    opacity: 0.6;
    transition: opacity 0.7s;

    &:hover {
      opacity: 1;
    }
  }

  .form__select {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    border-radius: 20px;
    font-size: $base * 10;
    color: $color-black;
    cursor: pointer;

    .form__select-header {
      position: relative;
      padding: 13px 0;
      width: 60px;
      height: 60px;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        border-top: 5px solid $color-black;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
      }
    }

    .form__select-header_active {
      &::after {
        border-top: 0;
        border-bottom: 5px solid $color-black;
      }
    }

    .form__select-body {
      display: none;
      border: 1px solid $color-black;
      background: $color-white;

      .form__list-item {
        padding: 5px 0;

        &:hover {
          background: #ccc;
        }
      }
    }

    .form__select-body_active {
      display: block;
      animation: showOption 0.8s;
    }
  }
}

.iti {
  display: block;

  .iti__flag {
    background-image: url("../img/flags.png");

    .iti__country-list {
      background: $color-black;
    }
  }

  .iti__country {
    color: $color-black;
  }

  .iti__selected-dial-code {
    color: $color-black;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("img/flags@2x.png");}
}
