@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "intl-tel-input/build/css/intlTelInput.css";

// SECTIONS //
@import "replies";
@import "form";

html {
  @media (max-width: $breakpoint-md) {
    font-size: 12px;
  }
}
